.notFound {
    background-color: transparent;
    margin-top: 0.3rem;
}

.notFound *,
.notFound *:before,
.notFound *:after {
    box-sizing: content-box;
    transform: translate3d(0, 0, 0);
}

.notFound .face {
    width: 10rem;
    height: 10rem;
    border: 0.12rem solid #383a41;
    border-radius: 0.3rem;
    background-color: #ffffff;
    margin: 0 auto;
    cursor: pointer;
    margin-top: 1rem;
}

.notFound .face .band {
    width: 10.7rem;
    height: 0.5rem;
    border: 0.12rem solid #383a41;
    border-radius: 0.3rem;
    margin-left: -0.5rem;
    margin-top: 1.5rem;
}

.notFound .face .band .red {
    height: calc(100% / 3);
    width: 100%;
    background-color: #eb6d6d;
}

.notFound .face .band .white {
    height: calc(100% / 3);
    width: 100%;
    background-color: #ffffff;
}

.notFound .face .band .blue {
    height: calc(100% / 3);
    width: 100%;
    background-color: #5e7fdc;
}

.notFound .face .band:before {
    content: "";
    display: inline-block;
    height: 0.5rem;
    width: 1.1rem;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    z-index: 999;
}

.notFound .face .band:after {
    content: "";
    display: inline-block;
    height: 0.5rem;
    width: 1.1rem;
    background-color: rgba(56, 58, 65, 0.3);
    position: absolute;
    z-index: 999;
    right: 0;
    margin-top: -0.5rem;
}

.notFound .face .eyes {
    width: 3.5rem;
    margin: 0 auto;
    margin-top: 1rem;
}

.notFound .face .eyes:before {
    content: "";
    display: inline-block;
    width: 0.8rem;
    height: 0.4rem;
    border: 0.2rem solid #383a41;
    margin-right: 0.55rem;
    border-top-left-radius: 0.6rem;
    border-top-right-radius: 0.6rem;
    border-bottom: 0;
}

.notFound .face .eyes:after {
    content: "";
    display: inline-block;
    width: 0.8rem;
    height: 0.4rem;
    border: 0.2rem solid #383a41;
    margin-left: 0.55rem;
    border-top-left-radius: 0.6rem;
    border-top-right-radius: 0.6rem;
    border-bottom: 0;
}

.notFound .face .dimples {
    width: 4.8rem;
    margin: 0 auto;
    margin-top: 0.4rem;
}

.notFound .face .dimples:before {
    content: "";
    width: 0.25rem;
    height: 0.25rem;
    margin-right: 2.1rem;
    border-radius: 50%;
    display: inline-block;
    background-color: rgba(235, 109, 109, 0.4);
}

.notFound .face .dimples:after {
    content: "";
    display: inline-block;
    width: 0.25rem;
    height: 0.25rem;
    margin-left: 2.1rem;
    border-radius: 50%;
    background-color: rgba(235, 109, 109, 0.4);
}

.notFound .face .mouth {
    width: 1.1rem;
    height: 0.125rem;
    border-radius: 0.125rem;
    background-color: #383a41;
    margin: 0 auto;
    margin-top: 0.7rem;
}

.notFound h1 {
    font-weight: 800;
    color: #383a41;
    text-align: center;
    font-size: 1rem;
    padding: 0.8rem;
}

.notFound .a:hover {
    text-decoration: none;
}

.notFound.bigger .face {
    width: 20rem;
    height: 20rem;
    border: 0.24rem solid #383a41;
    border-radius: 0.6rem;
    background-color: #ffffff;
    margin: 0 auto;
    cursor: pointer;
    margin-top: 3rem;
}

.notFound.bigger .face .band {
    width: 21.4rem;
    height: 1rem;
    border: 0.24rem solid #383a41;
    border-radius: 0.6rem;
    margin-left: -1rem;
    margin-top: 3rem;
}

.notFound.bigger .face .band .red {
    height: calc(100% / 3);
    width: 100%;
    background-color: #eb6d6d;
}

.notFound.bigger .face .band .white {
    height: calc(100% / 3);
    width: 100%;
    background-color: #ffffff;
}

.notFound.bigger .face .band .blue {
    height: calc(100% / 3);
    width: 100%;
    background-color: #5e7fdc;
}

.notFound.bigger .face .band:before {
    content: "";
    display: inline-block;
    height: 1rem;
    width: 2.2rem;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    z-index: 999;
}

.notFound.bigger .face .band:after {
    content: "";
    display: inline-block;
    height: 1rem;
    width: 2.2rem;
    background-color: rgba(56, 58, 65, 0.3);
    position: absolute;
    z-index: 999;
    right: 0;
    margin-top: -1rem;
}

.notFound.bigger .face .eyes {
    width: 7rem;
    margin: 0 auto;
    margin-top: 2rem;
}

.notFound.bigger .face .eyes:before {
    content: "";
    display: inline-block;
    width: 1.6rem;
    height: 0.8rem;
    border: 0.4rem solid #383a41;
    margin-right: 1.1rem;
    border-top-left-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
    border-bottom: 0;
}

.notFound.bigger .face .eyes:after {
    content: "";
    display: inline-block;
    width: 1.6rem;
    height: 0.8rem;
    border: 0.4rem solid #383a41;
    margin-left: 1.1rem;
    border-top-left-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
    border-bottom: 0;
}

.notFound.bigger .face .dimples {
    width: 9.6rem;
    margin: 0 auto;
    margin-top: 1.6rem;
}

.notFound.bigger .face .dimples:before {
    content: "";
    width: 0.5rem;
    height: 0.5rem;
    margin-right: 4.2rem;
    border-radius: 50%;
    display: inline-block;
    background-color: rgba(235, 109, 109, 0.4);
}

.notFound.bigger .face .dimples:after {
    content: "";
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    margin-left: 4.2rem;
    border-radius: 50%;
    background-color: rgba(235, 109, 109, 0.4);
}

.notFound.bigger .face .mouth {
    width: 2.2rem;
    height: 0.25rem;
    border-radius: 0.25rem;
    background-color: #383a41;
    margin: 0 auto;
    margin-top: 1.4rem;
}

.notFound.bigger h1 {
    font-weight: 800;
    color: #383a41;
    text-align: center;
    font-size: 2rem;
    padding: 1.6rem;
}

@media screen and (min-width: 992px) {
    .notFound .face {
        margin: 5rem auto;
        transform: scale(1.8);
    }

    .notFound h1 {
        font-size: 2rem;
    }

    .notFound.bigger .face {
        margin: 5rem auto;
        transform: scale(1.2);
    }

    .notFound.bigger h1 {
        font-size: 2rem;
    }
}

.hasBorders {
    border-right: #c4c4c4 solid 0.001rem;
    border-left: #c4c4c4 solid 0.001rem;
}