.tablesCSS {
    flex: 0 0 100%;
    max-width: 100%;
}

.tablesCSS .Cruds .actions {
    width: 8.541rem;
}

.tablesCSS .Cruds .actions a:nth-of-type(2) {
    margin: 0 1rem;
}

@media screen and (min-width: 576px) {
    .tablesCSS .Cruds .actions {
        width: 10.63rem;
    }

    .tablesCSS .Cruds .actions a:nth-of-type(2) {
        margin: 0 1.416rem;
    }
}

@media screen and (min-width: 768px) {
    .tablesCSS {
        flex: 0 0 8.24rem;
        max-width: 8.24rem;
    }

    .tablesCSS table td:first-of-type,
    .tablesCSS table th:first-of-type {
        display: none;
    }

    .tablesCSS .Cruds .actions {
        width: 7.649rem;
    }

    .tablesCSS .Cruds .actions a:nth-of-type(2) {
        margin: 0 0.89rem;
    }
}

@media screen and (min-width: 992px) {
    .tablesCSS {
        flex: 0 0 6.997rem;
        max-width: 6.997rem;
    }

    .tablesCSS .Cruds .actions {
        width: 6.167rem;
    }

    .tablesCSS .Cruds .actions a:nth-of-type(2) {
        margin: 0 0.67rem;
    }
}