.addAndInvertBtns {
    padding: 0;
    margin: 0 0.1rem;
    flex: 0 0 100%;
    max-width: 100%;
}

.addAndInvertBtns .flexxing {
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.addAndInvertBtns .flexxing .btn {
    width: 5rem;
    padding: 0 0.5rem;
}

.addAndInvertBtns .flexxing .btn-warning {
    color: #ffffff;
}

.addAndInvertBtns .header-above {
    width: 100%;
    text-align: center;
}

.addAndInvertBtns .header-above span {
    text-transform: capitalize;
    display: inline-block;
    line-height: 2rem;
    font-size: 2rem;
}

.addAndInvertBtns span.header-between {
    text-transform: capitalize;
    line-height: 2rem;
    font-size: 2rem;
}

@media screen and (min-width: 576px) {
    .addAndInvertBtns .header-above span {
        line-height: 2.5rem;
        font-size: 2.5rem;
    }

    .addAndInvertBtns .flexxing .btn {
        width: 6rem;
    }
}

@media screen and (min-width: 768px) {
    .addAndInvertBtns {
        margin: 0 0.2rem;
        margin-top: 0.2rem;
    }

    .addAndInvertBtns span.header-between {
        line-height: 1.5rem;
        font-size: 1.7rem;
    }

    .addAndInvertBtns .flexxing .btn {
        width: 5rem;
    }
}

@media screen and (min-width: 992px) {
    .addAndInvertBtns {
        margin-top: 0.3rem;
    }

    .addAndInvertBtns .flexxing {
        margin-top: 0.05rem;
        margin-bottom: 0.5rem;
    }

    .addAndInvertBtns .flexxing .btn {
        width: 7rem;
        font-size: 1.5rem;
    }
}