.commsContainer :global(.card).highlighted {
    border-width: 2px;
    border-color: orange !important;
}

.commsContainer .notFound {
    /* ${face} */
    margin-top: 0.6rem;
    border: #c4c4c4 solid 0.001rem;
}

.commsContainer .pagination {
    justify-content: center;
    /* ${pagination} */
}

.commsContainer .message {
    border-right: #c4c4c4 solid 0.001rem;
    border-left: #c4c4c4 solid 0.001rem;
    margin: -0.002rem;
}

.commsContainer .message :global(.alert-dismissible) {
    padding-right: 1.25rem;
}

.commsContainer .message :global(.alert-dismissible .btn-close) {
    padding: 0.75rem 1.25rem;
}

.commsContainer .avatar {
    border-right: #c4c4c4 solid 0.001rem;
    border-left: #c4c4c4 solid 0.001rem;
    margin: -0.002rem;
}

.commsContainer .avatar .col-12 {
    padding: 0.13rem;
}

.commsContainer .avatar .preview-warning {
    padding: 0;
}

.commsContainer .avatar .preview-warning .alert {
    padding: 0;
    margin-bottom: 0.1rem;
}

.commsContainer .avatar .preview-warning .alert .h4 {
    cursor: pointer;
    margin-bottom: 0;
    font-size: 1.4rem;
}

.commsContainer .avatar .preview-warning .alert-dismissible .close {
    padding: 0;
}

.commsContainer .avatar .card {
    margin: 0 auto;
    overflow: hidden;
    border-radius: 0.4rem;
    cursor: pointer;
}

.commsContainer .avatar .card .info {
    cursor: pointer;
    min-height: 7.5rem;
    position: relative;
    background-color: #fff;
    transition: transform 0.5s ease-out;
}

.commsContainer .avatar .card .info.checked {
    background-color: #a7ecae;
}

.commsContainer .avatar .card .info.expand {
    transform: translateY(15%) translateZ(0);
}

.commsContainer .avatar .card .expand {
    transform: translateY(35%) translateZ(0);
}

.commsContainer .avatar .card .shrink {
    transform: translateY(100%) translateY(-1.8rem) translateZ(0);
}

.commsContainer .avatar .card .title {
    margin: 0;
    white-space: nowrap;
    padding-left: 0.6rem;
    padding-top: 0.6rem;
    padding-bottom: 0.2rem;
    padding-right: 0;
    font-size: 1rem;
    line-height: 1;
    width: 10rem;
    color: rgba(0, 0, 0, 0.87);
}

.commsContainer .avatar .card .title.w {
    color: rgba(255, 240, 0, 0.87);
}

.commsContainer .avatar .card .title.d {
    color: rgba(255, 0, 0, 0.87);
}

.commsContainer .avatar .card .noscrollvisible {
    white-space: nowrap;
    overflow: auto;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

.commsContainer .avatar .card .noscrollvisible::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.commsContainer .avatar .card .details {
    margin: 0;
    display: block;
    line-height: 1.5;
    font-size: 0.6rem;
    padding: 0 0.6rem;
}

.commsContainer .avatar .card .widget.inlinecontraints {
    width: 10rem;
    height: 1rem;
    margin: 0 0.3rem;
    margin-top: 0.1rem;
}

.commsContainer .avatar .card .widget.inlinecontraints .dimensions {
    width: 1rem;
    height: 1rem;
}

.commsContainer .avatar .dismissBtn {
    top: 0;
    right: 0;
    z-index: 2;
    padding: 0;
    color: inherit;
    line-height: 1;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.5rem;
    position: absolute;
}

@media screen and (min-width: 576px) {
    .commsContainer .avatar .preview-warning .alert .h4 {
        text-align: center;
    }

    .commsContainer .avatar .card .title,
    .commsContainer .avatar .card .widget.inlinecontraints {
        width: 12rem;
    }
}

@media screen and (min-width: 768px) {

    .commsContainer .avatar .card .title,
    .commsContainer .avatar .card .widget.inlinecontraints {
        width: 9rem;
    }
}

@media screen and (min-width: 992px) {
    .commsContainer .avatar .card {
        border-radius: 0.889rem;
    }

    .commsContainer .avatar .card .info {
        min-height: 16.667rem;
    }

    .commsContainer .avatar .card .shrink {
        transform: translateY(100%) translateY(-4rem) translateZ(0);
    }

    .commsContainer .avatar .card .title {
        width: 16.5rem;
        padding-left: 1.333rem;
        padding-top: 1.333rem;
        padding-bottom: 0.5rem;
        font-size: 2.222rem;
        line-height: 1;
    }

    .commsContainer .avatar .card .details {
        line-height: 1.5;
        font-size: 1.333rem;
        padding: 0 1.333rem;
    }

    .commsContainer .avatar .card .widget.inlinecontraints {
        width: 16.5rem;
        height: 1.5rem;
        margin: 0 0.7rem;
        margin-top: 0.2rem;
    }

    .commsContainer .avatar .card .widget.inlinecontraints .dimensions {
        width: 1.5rem;
        height: 1.5rem;
    }
}

@media screen and (min-width: 1200px) {
    .commsContainer .avatar .col-xl-3 {
        flex: 0 0 33.33333%;
        max-width: 33.3333%;
    }
}

@media screen and (min-width: 1440px) {

    .commsContainer .avatar .card .title,
    .commsContainer .avatar .card .widget.inlinecontraints {
        width: 18rem;
    }

    .commsContainer .avatar .col-xl-3.col-12 {
        flex: 0 0 25%;
        max-width: 25%;
    }
}

@media screen and (min-width: 1536px) {

    .commsContainer .avatar .card .title,
    .commsContainer .avatar .card .widget.inlinecontraints {
        width: 19rem;
    }
}

@media screen and (min-width: 1920px) {

    .commsContainer .avatar .card .title,
    .commsContainer .avatar .card .widget.inlinecontraints {
        width: 19.5rem;
    }

    .commsContainer .avatar .col-xl-3.col-lg-4.col-12 {
        flex: 0 0 20%;
        max-width: 20%;
    }
}