.controls .wrapped {
    display: block;
}

.controls .dropdown .nav-link {
    display: block;
    padding: 0;
}

.controls .dropdown .dropdown-item {
    width: auto;
    margin: auto;
    color: #fff;
    min-width: 5.3rem;
    text-align: center;
    padding: 0.1rem 0.3rem;
    background-color: lightgray;
}

.controls .dropdown .dropdown-item:not(:first-of-type) {
    margin-top: 0.2rem;
}

.controls .dropdown :global(.dropdown-menu) {
    min-width: 1rem;
    border-radius: 0.5rem;
    padding: 0.4rem 0.2rem;
    background-color: #007bff;
}

.controls .dropdown :global(.dropdown-toggle)::after {
    margin-left: 0;
    border-left: 0;
    border-right: 0;
}

.controls .dropdown :global(.dropdown-toggle) {
    position: absolute;
}

.controls .dropdown :global(.dropdown-toggle[aria-expanded="true"]) {
    left: 3rem;
    top: -3.2rem;
}

.controls .dropdown :global(.dropdown-toggle[aria-expanded="false"]) {
    left: 3rem;
    top: -3rem;
}

.controls .navbar-IMG {
    cursor: pointer;
}

.controls a.disabled {
    pointer-events: none;
}

.controls .navbar-Avatar {
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 0.3rem;
}

.controls .navbar-viewToggler {
    width: 2.7rem;
    height: 2.5rem;
    margin-right: 2rem;
    margin-left: 0.1rem;
}

@media screen and (min-width: 576px) {
    .controls .navbar-viewToggler {
        margin-right: 6rem;
    }

    .controls .dropdown :global(.dropdown-toggle[aria-expanded="false"]) {
        left: 3rem;
        top: -3rem;
    }
}

@media screen and (min-width: 768px) {
    .controls .navbar-viewToggler {
        margin-left: 0.25rem;
        margin-right: 0;
    }

    .controls :global(.dropdown-toggle.nav-link) {
        padding: 0;
    }

    .controls .dropdown :global(.dropdown-menu.show) {
        width: 19.25rem;
    }

    .controls .dropdown :global(.dropdown-toggle[aria-expanded="false"]) {
        left: 16.8rem;
        top: -2.5rem;
    }

    .controls .dropdown :global(.dropdown-toggle[aria-expanded="true"]) {
        left: 16.8rem;
        top: -2.7rem;
    }
}

@media screen and (min-width: 992px) {
    .controls .navbar-viewToggler {
        width: 2.1rem;
        margin-right: 0;
        margin-left: 0.7rem;
    }

    .controls .dropdown :global(.dropdown-toggle) {
        position: static;
    }

    .controls .dropdown :global(.dropdown-toggle[aria-expanded="false"]),
    .controls .dropdown :global(.dropdown-toggle[aria-expanded="true"]) {
        left: 0;
        top: 0;
    }

    .controls .dropdown :global(.dropdown-menu) {
        left: -2.8rem;
    }

    .controls .dropdown :global(.dropdown-menu.show) {
        width: 6rem;
    }

    .controls :global(.navbar-nav) :global(.dropdown-toggle.nav-link) {
        padding: 0;
    }
}