.tablesCSS {
    max-width: 100%;
}

.tablesCSS > div {
    height: 100%;
}

.tablesCSS div:last-of-type td:first-of-type,
.tablesCSS div:last-of-type th:first-of-type {
    display: none;
}

.tablesCSS > div:first-of-type table.Descendants {
    border-right: none;
}

.tablesCSS > div:first-of-type {
    width: 63.6%;
}

@media screen and (min-width: 576px) {
    .tablesCSS > div:first-of-type {
        width: 68.9%;
    }

    .tablesCSS > div:last-of-type {
        width: 31.1%;
    }
}

@media screen and (min-width: 768px) {
    .FlexTable {
        max-width: 57.9%;
    }

    .FlexTable > div:last-of-type table.Orders {
        border-right: none;
    }

    .FlexTable > div:first-of-type {
        width: 66.5%;
    }

    .FlexTable > div:last-of-type {
        width: 33.5%;
    }

    .notFlexTable {
        max-width: 42.1%;
    }

    .notFlexTable > div:last-of-type table.Orders {
        border-right: 1px Solid #dee2e6;
    }

    .notFlexTable > div:last-of-type {
        width: 43.9%;
    }

    .notFlexTable > div:first-of-type {
        width: 56.1%;
    }
}

@media screen and (min-width: 992px) {
    .tablesCSS {
        max-width: 10.833rem;
    }

    .tablesCSS table td:first-of-type,
    .tablesCSS table th:first-of-type {
        display: none;
    }

    .tablesCSS > div:first-of-type {
        width: 6.333rem;
    }

    .tablesCSS > div:last-of-type {
        width: 4.5rem;
    }
}