.optionsCss {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
}

.descendentCSS {
    width: 6.333rem;
    padding: 0;
    margin: 0;
}

.descendentCSS .Descendants {
    border-right: none;
}

.descendentCSS td:first-of-type,
.descendentCSS th:first-of-type {
    display: none;
}

@media screen and (min-width: 576px) {
    .optionsCss .Options .actions {
        width: 10.63rem;
    }
}

@media screen and (min-width: 768px) {
    .optionsCss {
        flex: 0 0 7.76rem;
        max-width: 7.76rem;
    }

    .optionsCss table td:first-of-type,
    .optionsCss table th:first-of-type {
        display: none;
    }

    .optionsCss .Options .actions {
        width: 7.169rem;
    }
}

@media screen and (min-width: 992px) {
    .optionsCss {
        flex: 0 0 6.997rem;
        max-width: 6.997rem;
    }

    .optionsCss .Options .actions {
        width: 6.167rem;
    }
}