.formulator {
    text-align: center;
}

.formulator .carousel {
    width: 100%;
    margin-bottom: 1.5rem;
}

.formulator .tooLarge {
    width: 11rem;
    margin: auto;
    display: flex;
    font-size: 1rem;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.formulator .greyBar {
    flex-grow: 1;
    display: none;
    background-color: #c4cec4;
    margin-top: 0;
    display: block;
    height: 0.4rem;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
}

.formulator .forms {
    text-align: left;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.formulator .entityName {
    font-size: 2rem;
    line-height: 2rem;
    font-style: italic;
    margin-bottom: 0.5rem;
    display: inline-block;
    text-transform: capitalize;
}

.formulator .form-label:first-letter {
    text-transform: capitalize;
}

.formulator .form-control {
    background-color: #faf7f7;
}

@media screen and (min-width: 576px) {
    .formulator .tooLarge {
        width: 13rem;
        font-size: 1.1rem;
    }
}

@media screen and (min-width: 768px) {
    .formulator .greyBar {
        margin-left: 0.2rem;
        margin-right: 0.2rem;
    }

    .formulator .tooLarge {
        width: 20rem;
        font-size: 0.9rem;
    }
}

@media screen and (min-width: 992px) {
    .formulator .greyBar {
        display: block;
        height: 0.4rem;
        margin-top: 0.5rem;
        margin-left: 0.6rem;
    }

    .formulator .forms {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }

    .formulator .entityName {
        margin-bottom: 0;
    }

    .formulator .tooLarge {
        width: 25rem;
        font-size: 1rem;
    }
}

@media screen and (min-width: 1200px) {
    .formulator .col-xl-4 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media screen and (min-width: 1440px) {
    .formulator .col-xl-4 {
        flex: 0 0 33.33333%;
        max-width: 33.3333%;
    }
}

@media screen and (min-width: 1920px) {
    .formulator .greyBar {
        height: 0.7rem;
        margin-top: 0.6rem;
        margin-left: 0.6rem;
    }
}