.container {
    display: flex;
    overflow: auto;
    white-space: nowrap;
    align-items: center;
    justify-content: flex-start;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

.container ::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.container .dimensions {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 20%;
    background-color: #fdfefe;
}

.queued {
    flex-direction: row;
    height: 2.5rem;
    width: 10rem;
}

.queued .dimensions {
    cursor: pointer;
    margin: 0 0.2rem;
}

.stacked {
    flex-direction: column;
    height: 10rem;
    width: 2.5rem;
}

.stacked .dimensions {
    cursor: pointer;
    margin: 0.2rem 0;
}