.stylesheet {
    border-right: #c4c4c4 solid 0.001rem;
    border-left: #c4c4c4 solid 0.001rem;
}

.stylesheet .paragraph {
    font-size: 0;
    margin: 0.1rem;
}

.stylesheet .paragraph .stepNumber {
    color: #f97800;
    margin-right: 0.1rem;
}

.stylesheet .paragraph .stepNumber,
.stylesheet .paragraph .stepName {
    font-weight: 500;
    font-size: 0.7rem;
    display: inline-block;
    vertical-align: top;
    line-height: normal;
}

.stylesheet .paragraph .stepName {
    color: #17202a;
    white-space: nowrap;
}

.stylesheet .paragraph .stepContent {
    margin: 0;
    font-style: italic;
    margin-top: 0.1rem;
    font-size: 0.6rem;
    line-height: 0.6rem;
    word-break: break-word;
}

.stylesheet .instructions {
    display: none;
}

.stylesheet .instructions .shortParagrah {
    width: 6rem;
}

@media screen and (min-width: 768px) {
    .stylesheet .paragraph .stepNumber,
    .stylesheet .paragraph .stepName {
        font-size: 0.55rem;
    }

    .stylesheet .instructions {
        height: 20rem;
        overflow-y: auto;
        scrollbar-width: none;
    }

    .stylesheet .instructions ::-webkit-scrollbar {
        width: 0.1rem;
    }

    .stylesheet .instructions ::-webkit-scrollbar-track {
        background: #ddd;
    }

    .stylesheet .instructions ::-webkit-scrollbar-thumb {
        background: #666;
    }
}

@media screen and (min-width: 992px) {
    .stylesheet .paragraph .stepNumber,
    .stylesheet .paragraph .stepName {
        font-size: 0.9rem;
    }

    .stylesheet .paragraph .stepContent {
        line-height: 1rem;
        font-size: 1rem;
    }

    .stylesheet .instructions {
        height: 40rem;
        display: block;
    }

    .stylesheet .instructions .shortParagrah {
        width: 9.3rem;
    }

    .stylesheet .left,
    .stylesheet .right {
        padding: 0.08rem;
    }

    .stylesheet .col-lg-4 {
        flex: 0 0 18%;
        max-width: 18%;
    }

    .stylesheet .col-lg-8 {
        flex: 0 0 82%;
        max-width: 82%;
    }
}

@media screen and (min-width: 1200px) {
    .stylesheet .instructions {
        height: 50rem;
    }

    .stylesheet .col-xl-3 {
        flex: 0 0 18%;
        max-width: 18%;
    }

    .stylesheet .col-xl-9 {
        flex: 0 0 82%;
        max-width: 82%;
    }
}

@media screen and (min-width: 1440px) {
    .stylesheet .paragraph .stepNumber,
    .stylesheet .paragraph .stepName {
        font-size: 1rem;
    }

    .stylesheet .paragraph .stepContent {
        line-height: 1.1rem;
        font-size: 1.1rem;
    }

    .stylesheet .instructions .shortParagrah {
        width: 17rem;
    }

    .stylesheet .col-xl-3 {
        flex: 0 0 22%;
        max-width: 22%;
    }

    .stylesheet .col-xl-9 {
        flex: 0 0 78%;
        max-width: 78%;
    }
}

@media screen and (min-width: 1536px) {
    .stylesheet .paragraph .stepNumber,
    .stylesheet .paragraph .stepName {
        font-size: 1.1rem;
    }

    .stylesheet .paragraph .stepContent {
        line-height: 1.2rem;
        font-size: 1.2rem;
    }

    .stylesheet .instructions .shortParagrah {
        width: 25.5rem;
    }

    .stylesheet .col-xl-3 {
        flex: 0 0 31%;
        max-width: 31%;
    }

    .stylesheet .col-xl-9 {
        flex: 0 0 69%;
        max-width: 69%;
    }
}

@media screen and (min-width: 1920px) {
    .stylesheet .instructions .shortParagrah {
        width: 27.5rem;
    }

    .stylesheet .col-xl-3 {
        flex: 0 0 26.5%;
        max-width: 26.5%;
    }

    .stylesheet .col-xl-9 {
        flex: 0 0 73.5%;
        max-width: 73.5%;
    }
}