.Options {
    border-collapse: collapse;
    table-layout: fixed;
    border-spacing: 0;
    height: 100%;
    margin: 0;
}

.Options thead {
    height: 1rem;
}

.Options tbody {
    height: calc(100% - 1rem);
}

.Options th,
.Options td {
    padding: 0.24rem 0.3rem;
}

.Options .actions button {
    margin: 0;
    width: 8rem;
    border: 0;
    padding: 0 0.75rem;
}

.Options td.datas.padder {
    color: transparent;
}

@media screen and (min-width: 576px) {
    .Options .actions button {
        width: 10rem;
    }
}

@media screen and (min-width: 768px) {
    .Options th {
        padding: 0.36rem 0.3rem;
    }

    .Options td {
        padding: 0.4rem 0.3rem;
    }
}