.screenFlex {
    display: flex;
    height: fit-content;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.searchBarStyles {
    align-items: center;
    width: 11rem;
}

.searchBarStyles .form-control {
    width: 77%;
    flex: 0 0 auto;
}

.searchBarStyles .input-group-prepend,
.searchBarStyles .form-control {
    height: 2.3rem;
}

.searchBarStyles .input-group-prepend {
    display: flex;
    margin-right: -1rem;
}

.searchBarStyles .input-group-text {
    padding: 0 0.2rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.searchBarStyles .input-group-text svg {
    height: 2rem;
    width: 2rem;
}

@media screen and (min-width: 576px) {
    .searchBarStyles {
        width: 14rem;
    }
    
    .searchBarStyles .form-control {
        width: 82.5%;
    }
}

@media screen and (min-width: 768px) {
    .searchBarStyles {
        width: 20.1rem;
    }
    
    .searchBarStyles .form-control {
        width: 87.8%;
    }
}

@media screen and (min-width: 992px) {
    .searchBarStyles {
        width: 54.6rem;
    }
    
    .searchBarStyles .input-group-prepend,
    .searchBarStyles .form-control {
        height: 4.8rem;
    }
    
    .searchBarStyles .form-control {
        font-size: 2rem;
        width: 92.7%;
    }
    
    .searchBarStyles .input-group-text svg {
        height: 3.5rem;
        width: 3.5rem;
    }
}

@media screen and (min-width: 1440px) {
    .searchBarStyles {
        width: 78.3rem;
    }
    
    .searchBarStyles .form-control {
        width: 94.85%;
    }
}

@media screen and (min-width: 1536px) {
    .searchBarStyles {
        width: 83.3rem;
    }
    
    .searchBarStyles .form-control {
        width: 95.25%;
    }
}

@media screen and (min-width: 1920px) {
    .searchBarStyles {
        width: 105rem;
    }
    
    .searchBarStyles .form-control {
        width: 96.2%;
    }
}

.acountLinks {
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.acountLinks a {
    color: black;
    text-decoration: none;
}

.acountLinks a.active {
    text-decoration: underline;
}

.acountLinks .divider {
    display: none;
}

@media screen and (min-width: 768px) {
    .acountLinks {
        flex-direction: row;
    }
    
    .acountLinks .divider {
        display: inline;
    }
}