.menu-tags {
    background-color: #e7e7e7;
}

.menu-tags .selectedMenu .settings-tags {
    border: 1px black solid;
    background-color: #f0f0f0;
}

.menu-tags .settings-tags {
    margin: 0;
    width: 100%;
    color: #fff;
    padding: 0.2rem 0;
    text-align: left;
    border-color: #c6c7c8;
    background-color: #d3d4d5;
}

.menu-tags .settings-tags .thumbs {
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu-tags .settings-tags .thumbs .toBadge,
.menu-tags .settings-tags .thumbs .fromBadge {
    width: 2.187rem;
}

@media screen and (min-width: 768px) {
    .menu-tags .settings-tags .thumbs .toBadge,
    .menu-tags .settings-tags .thumbs .fromBadge {
        width: 4.187rem;
    }
}

@media screen and (min-width: 992px) {
    .menu-tags .settings-tags .thumbs .toBadge,
    .menu-tags .settings-tags .thumbs .fromBadge {
        width: 6.187rem;
    }
}