.tablesConnector {
    display: flex;
    margin: 0 0.1rem;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.tablesConnector a,
.tablesConnector span {
    font-size: 1rem;
    line-height: 1rem;
}

.tablesConnector a {
    text-decoration: underline;
}

@media screen and (min-width: 992px) {
    .tablesConnector a,
    .tablesConnector span {
        font-size: 1.5rem;
        line-height: 1.5rem;
    }
}