.tablesCSS {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.tablesCSS .TextCol {
    table-layout: fixed;
    height: 100%;
    margin: 0;
}

.tablesCSS .TextCol td,
.tablesCSS .TextCol th {
    cursor: pointer;
    font-size: 1.5rem;
    border-right: none;
    overflow-x: hidden;
    line-height: 1.55rem;
    padding: 0.36rem 0.3rem;
}

.tablesCSS .TextCol td div,
.tablesCSS .TextCol th div {
    cursor: pointer;
    overflow-x: hidden;
    scrollbar-width: none;
    /* Firefox */
}

.tablesCSS .TextCol td div ::-webkit-scrollbar,
.tablesCSS .TextCol th div ::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.tablesCSS .TextCol td.datas.padder {
    color: transparent;
}

.tablesCSS .TextCol td.hideOverflow {
    width: 100%;
    white-space: nowrap;
}

@media screen and (min-width: 768px) {
    .tablesCSS .TextCol {
        border-right: 1px solid #dee2e6;
    }

    .tablesCSS .TextCol th {
        font-size: 1.2rem;
        line-height: 1.5rem;
    }
}

@media screen and (min-width: 992px) {
    .tablesCSS .TextCol {
        border-right: none;
    }

    .noOutlier {
        max-width: 27.69rem;
    }

    .hasOutlier {
        max-width: 21.4rem;
    }
}

@media screen and (min-width: 1440px) {
    .noOutlier {
        max-width: 39.546rem;
    }

    .hasOutlier {
        max-width: 33.213rem;
    }
}

@media screen and (min-width: 1536px) {
    .noOutlier {
        max-width: 44.5292rem;
    }

    .hasOutlier {
        max-width: 25.197rem;
    }
}

@media screen and (min-width: 1920px) {
    .noOutlier {
        max-width: 66.047rem;
    }

    .hasOutlier {
        max-width: 33.734rem;
    }
}